@model GameActionsViewModel

@{
    ViewData["Title"] = "Add Queez";
}

<div class="wrapper">
    <div class="header">
        <div class="header-menu">
            <div class="title">All<span>Queez</span></div>
            <div class="sidebar-btn">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logout-btn">
                <a asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-menu">
            <div class="profile">
                <img src="~/images/1.jpg" alt="">
                <p>Tkumwa</p>
            </div>
            <ul>
                <li class="active-item">
                    <a href="/game" class="menu-btn">
                        <i class="fas fa-columns"></i><span>My queezes</span>
                    </a>
                </li>
                <li class="item">
                    <a href="/theme" class="menu-btn">
                        <i class="fas fa-star"></i><span>Themes</span>
                    </a>
                </li>
                <li class="item">
                    <a href="/question" class="menu-btn">
                        <i class="fas fa-question"></i><span>Questions</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="menu-btn">
                        <i class="fas fa-cog"></i><span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <form method="post" asp-controller="Game" asp-action="Create">
            <div class="title-row">
                <span class="title">Add queez</span>
                <button type="submit" class="save">Save</button>
            </div>
            <div class="content">
                <div class="create-form">
                    <div class="form-row">
                        <label for="theme" class="field-title">Select theme or create a new one:</label>
                        <div class="select-container">
                            <div class="select-block">
                                <select class="select" asp-for="ThemeId" asp-items="ViewBag.Themes"></select>
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <button onclick="addTheme()" type="button" class="add-new-theme-btn" data-toggle="modal">
                                <i class="fas fa-plus-circle fa-2x"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="field-title">Game title:</label>
                        <div>
                            <input class="field"
                                   placeholder="Game title"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Game title'" asp-for="Title">
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="field-title">Description:</label>
                        <div>
                            <input class="field"
                                   placeholder="Description"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Description'" asp-for="Description">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="game-date" class="field-title">Game date:</label>
                        <div class="date">
                            <input class="field" placeholder="Select date" onfocus="(this.type='date')" onblur="(this.type='text')" asp-for="Date">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            @await Html.PartialAsync("_AddThemePartial")
        </div>
    </div>
</div>

@section css {
    <link href="~/css/create.css" rel="stylesheet" />
}

@section js {
    <script src="~/js/create.js"></script>
}