@model IEnumerable<ThemesViewModel>

@{ 
    ViewData["Title"] = "Themes";
}

<a asp-controller="Theme" asp-action="Create">Add theme</a>

@if (Model.Any())
{
    foreach (var theme in Model)
    {
        <div>@theme.Id</div>
        <div>@theme.Name</div>
        <form method="delete" asp-controller="Theme" asp-action="Delete" asp-route-id="@theme.Id">
            <button type="submit">Delete</button>
        </form>
    }
    <br />
}
else
{
    <div>Empty themes list</div>
}