@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="title"><a asp-action="Login">All<span>Queez</span></a></div>
    <div class="background">
        <div class="login-box">
            <h1>Login</h1>
            <div class="textbox">
                <i class="fas fa-user"></i>
                <input type="text"
                       placeholder="Username"
                       onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Username'" asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password"
                       placeholder="Password"
                       onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Password'" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="remember">
                <input type="checkbox" asp-for="RememberMe" />
                <label asp-for="RememberMe">Remember me</label>
                <span asp-validation-for="RememberMe"></span>
            </div>
            <input class="btn" type="submit" value="Login" />
            <div class="passreset">
                <a href="">Forgot password?</a>
            </div>
            <div class="register">
                <label for="register">Don't have an account?</label>
                <span><a asp-action="Register">Register.</a></span>
            </div>
        </div>
    </div>
</form>

@section css {
    <link href="~/css/login.css" rel="stylesheet" />
}